community/src/main/xsd/dxf2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dhis2.org/ns/schema/dxf2" xmlns:dxf2="http://dhis2.org/ns/schema/dxf2">
  <!--
    dxf2.rng - is "the source"
    dxf2.rnc and dxf.xsd are derived using jing
    
    TODO:
    add missing elements
  -->
  <!-- These are toplevel elements of dxf format -->
  <xs:element name="dxf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:metadata"/>
        <xs:element minOccurs="0" ref="dxf2:dataValues"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="dxf2:CategoryDimensions"/>
        <xs:element minOccurs="0" ref="dxf2:DataElementDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:IndicatorDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:GroupSetDimensions"/>
        <xs:element minOccurs="0" ref="dxf2:DataSetDefinition"/>
        <xs:element minOccurs="0" ref="dxf2:DataDictionaryDefinition"/>
        <xs:element minOccurs="0" ref="dxf2:orgUnitStructure"/>
        <xs:element minOccurs="0" ref="dxf2:periods"/>
        <xs:group minOccurs="0" ref="dxf2:ReportTableDefinition"/>
        <xs:element minOccurs="0" ref="dxf2:completeDataSetRegistrations"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataValues" type="dxf2:dataValues"/>
  <!--
    
    Each of the MetaData groups is a sequence of elements
    
  -->
  <xs:element name="DataDictionaryDefinition" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataDictionary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="CategoryDimensions">
    <xs:sequence>
      <xs:element ref="dxf2:categories"/>
      <xs:element ref="dxf2:categoryCombos"/>
      <xs:element ref="dxf2:categoryOptionCombos"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="DataElementDefinition" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="IndicatorDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:indicatorTypes"/>
      <xs:element ref="dxf2:indicators"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="GroupSetDimensions">
    <xs:sequence>
      <xs:element ref="dxf2:dataElementGroupSets"/>
      <xs:element ref="dxf2:indicatorGroupSets"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="DataSetDefinition" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="dataSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:shortName"/>
              <xs:element ref="dxf2:code"/>
              <xs:element ref="dxf2:periodType"/>
              <xs:element name="dataElements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementRef"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgUnitStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:organisationUnitLevels"/>
        <xs:element ref="dxf2:organisationUnits"/>
        <xs:element ref="dxf2:organisationUnitGroups"/>
        <xs:element ref="dxf2:groupSets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="ReportTableDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:reportTables"/>
      <xs:element ref="dxf2:reportTableDataElements"/>
      <xs:element ref="dxf2:reportTableCategoryOptionCombos"/>
      <xs:element ref="dxf2:reportTableIndicators"/>
      <xs:element ref="dxf2:reportTableDataSets"/>
      <xs:element ref="dxf2:reportTablePeriods"/>
      <xs:element ref="dxf2:reportTableOrganisationUnits"/>
    </xs:sequence>
  </xs:group>
  <!-- dxf2 ids -->
  <xs:simpleType name="dxfID">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <!-- dxf2 idrefs -->
  <xs:simpleType name="dxfIDRef">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <!-- common base for identifiable objects -->
  <xs:complexType name="identifiableObject">
    <xs:sequence>
      <xs:element ref="dxf2:uuid"/>
      <xs:element ref="dxf2:name"/>
      <xs:element ref="dxf2:alternativeName"/>
      <xs:element ref="dxf2:shortName"/>
      <xs:element ref="dxf2:code"/>
      <xs:element ref="dxf2:description"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
  </xs:complexType>
  <xs:element name="uuid" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="alternativeName" type="xs:string"/>
  <xs:element name="shortName" type="xs:string"/>
  <xs:element name="code" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <!--
    
    The ugly detail of each element follows ...
    
    
  -->
  <!-- MultiDimensionalElements -->
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dxf2:category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element ref="dxf2:categoryOptions"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dxf2:categoryOption"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOption" type="dxf2:identifiableObject"/>
  <xs:element name="categoryCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dxf2:categoryCombo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:categoryRefs"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOptionCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryOptionCombo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOptionCombo">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryOptionRef"/>
          </xs:sequence>
          <xs:attribute name="categoryComboRef" use="required" type="dxf2:dxfIDRef"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOptionRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementGroupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementGroupSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementGroupSet">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element name="Groups">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementGroup"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementGroup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementRef"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicatorGroupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:indicatorGroupSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicatorGroupSet">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element name="Groups">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:indicatorGroup"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicatorGroup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:indicatorRef"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicatorRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <!-- DataElementDefinition -->
  <xs:element name="dataElements" substitutionGroup="dxf2:DataElementDefinition"/>
  <xs:element name="dataElement">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element name="active" type="xs:string"/>
            <xs:element ref="dxf2:type"/>
            <xs:element ref="dxf2:aggregationOperator"/>
          </xs:sequence>
          <xs:attribute name="categoryComboRef" use="required" type="dxf2:dxfIDRef"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="aggregationOperator" type="xs:string"/>
  <!-- IndicatorDefinition -->
  <xs:element name="indicatorTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:indicatorType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicatorType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:factor"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="factor" type="xs:integer"/>
  <xs:element name="indicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="indicator">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="dxf2:identifiableObject">
                <xs:sequence>
                  <xs:element ref="dxf2:annualized"/>
                  <xs:element ref="dxf2:numerator"/>
                  <xs:element ref="dxf2:numeratorDescription"/>
                  <xs:element ref="dxf2:numeratorAggregationOperator"/>
                  <xs:element ref="dxf2:denominator"/>
                  <xs:element ref="dxf2:denominatorDescription"/>
                  <xs:element ref="dxf2:denominatorAggregationOperator"/>
                </xs:sequence>
                <xs:attribute name="indicatorTypeRef" use="required" type="dxf2:dxfIDRef"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualized" type="xs:string"/>
  <xs:element name="numerator" type="xs:string"/>
  <xs:element name="numeratorDescription" type="xs:string"/>
  <xs:element name="numeratorAggregationOperator" type="xs:string"/>
  <xs:element name="denominator" type="xs:string"/>
  <xs:element name="denominatorDescription" type="xs:string"/>
  <xs:element name="denominatorAggregationOperator" type="xs:string"/>
  <!-- Data Dictionary Definition -->
  <xs:element name="dataDictionaries" substitutionGroup="dxf2:DataDictionaryDefinition"/>
  <xs:element name="dataDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:description"/>
        <xs:element ref="dxf2:region"/>
        <xs:element name="dataElements">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementRef"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="region" type="xs:string"/>
  <!-- DataSet Definition -->
  <xs:element name="dataSets" substitutionGroup="dxf2:DataSetDefinition"/>
  <xs:element name="periodType" type="xs:string"/>
  <!-- Organisation Unit Definition -->
  <xs:element name="groupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:groupSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:description"/>
        <xs:element ref="dxf2:compulsory"/>
        <xs:element ref="dxf2:exclusive"/>
        <xs:element ref="dxf2:groups"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="compulsory">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="exclusive">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:groupRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnitGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:uuid"/>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:orgUnits"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:orgUnitRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgUnitRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element minOccurs="0" name="dataSets">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataSetRef"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="dxf2:openingDate"/>
            <xs:element minOccurs="0" ref="dxf2:closedDate"/>
            <xs:element minOccurs="0" name="active" type="xs:boolean"/>
            <xs:element minOccurs="0" ref="dxf2:comment"/>
            <xs:element minOccurs="0" ref="dxf2:geoCode"/>
            <xs:element minOccurs="0" ref="dxf2:polygonCoordinates"/>
            <xs:element minOccurs="0" ref="dxf2:latitude"/>
            <xs:element minOccurs="0" ref="dxf2:longitude"/>
            <xs:element minOccurs="0" ref="dxf2:url"/>
            <xs:element minOccurs="0" ref="dxf2:lastUpdated"/>
            <xs:element ref="dxf2:children"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataSetRef">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="openingDate" type="xs:date"/>
  <xs:element name="closedDate" type="xs:date"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="geoCode" type="xs:string"/>
  <xs:element name="polygonCoordinates" type="xs:string"/>
  <xs:element name="latitude" type="xs:string"/>
  <xs:element name="longitude" type="xs:string"/>
  <xs:element name="url" type="xs:string"/>
  <xs:element name="lastUpdated" type="xs:date"/>
  <xs:element name="children">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnitLevel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:level"/>
        <xs:element ref="dxf2:name"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="level" type="xs:integer"/>
  <!-- Periods -->
  <xs:element name="periods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:period"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="period">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:periodType"/>
        <xs:element ref="dxf2:startDate"/>
        <xs:element ref="dxf2:endDate"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="startDate" type="xs:date"/>
  <xs:element name="endDate" type="xs:date"/>
  <!-- ReportTable Definition -->
  <xs:element name="reportTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="reportTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:tableName"/>
              <xs:element ref="dxf2:existingTableName"/>
              <xs:element ref="dxf2:mode"/>
              <xs:element ref="dxf2:regression"/>
              <xs:element ref="dxf2:doIndicators"/>
              <xs:element ref="dxf2:doCategoryOptionCombos"/>
              <xs:element ref="dxf2:doPeriods"/>
              <xs:element ref="dxf2:doOrganisationUnits"/>
              <xs:element ref="dxf2:reportingMonth"/>
              <xs:element ref="dxf2:last3Months"/>
              <xs:element ref="dxf2:last6Months"/>
              <xs:element ref="dxf2:last9Months"/>
              <xs:element ref="dxf2:last12Months"/>
              <xs:element ref="dxf2:soFarThisYear"/>
              <xs:element ref="dxf2:soFarThisFinancialYear"/>
              <xs:element ref="dxf2:last3To6Months"/>
              <xs:element ref="dxf2:last6To9Months"/>
              <xs:element ref="dxf2:last9To12Months"/>
              <xs:element ref="dxf2:last12IndividualMonths"/>
              <xs:element ref="dxf2:individualMonthsThisYear"/>
              <xs:element ref="dxf2:individualQuartersThisYear"/>
              <xs:element ref="dxf2:paramReportingMonth"/>
              <xs:element ref="dxf2:paramParentOrganisationUnit"/>
              <xs:element ref="dxf2:paramOrganisationUnit"/>
              <xs:element name="dataElements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="dataElement">
                      <xs:complexType>
                        <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="dxf2:dxfID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tableName" type="xs:string"/>
  <xs:element name="existingTableName" type="xs:string"/>
  <xs:element name="mode" type="xs:string"/>
  <xs:element name="regression">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doIndicators">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doCategoryOptionCombos">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doPeriods">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doOrganisationUnits">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="reportingMonth">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last3Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last6Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last9Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last12Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="soFarThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="soFarThisFinancialYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last3To6Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last6To9Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last9To12Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last12IndividualMonths">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="individualMonthsThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="individualQuartersThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramReportingMonth">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramParentOrganisationUnit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramOrganisationUnit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="reportTableDataElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:reportTableDataElement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableDataElement">
    <xs:complexType>
      <xs:attribute name="reportTableRef" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="dataElementRef" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="sortOrder" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <!-- ReportTableCategoryOptionCombos -->
  <xs:element name="reportTableCategoryOptionCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="dxf2:TODO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TODO" type="xs:integer"/>
  <!-- ReportTableIndicators -->
  <xs:element name="reportTableIndicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableIndicator"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableIndicator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="indicator" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortOrder" type="xs:integer"/>
  <!-- ReportTableDataSets -->
  <xs:element name="reportTableDataSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableDataSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="dataSet" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ReportTablePeriods -->
  <xs:element name="reportTablePeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:ReportTablePeriod"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTablePeriod">
    <xs:complexType>
      <xs:attribute name="periodRef" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="sortOrder" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <!-- ReportTableOrganisationUnits -->
  <xs:element name="reportTableOrganisationUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableOrganisationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableOrganisationUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="organisationUnit" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- TODO: What are these? -->
  <xs:element name="completeDataSetRegistrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:completeDataSetRegistrationPeriod"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="completeDataSetRegistrationPeriod">
    <xs:complexType>
      <xs:attribute name="periodRef" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="sortOrder" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <!-- DataValue Section -->
  <xs:complexType name="dataValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dataValue">
    <xs:complexType>
      <xs:attribute name="dataElement" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="period" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="source" use="required" type="dxf2:dxfIDRef"/>
      <xs:attribute name="value" use="required"/>
      <xs:attribute name="storedBy"/>
      <xs:attribute name="timeStamp"/>
      <xs:attribute name="comment"/>
      <xs:attribute name="categoryOptionCombo" use="required" type="dxf2:dxfIDRef"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
